:root {
    --text-color: black;
    --bg-color: white;
}

.dark-mode {
    --text-color: white;
    --bg-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}